.navbar {
    height: 80px;
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-bottom: 1px solid #e8ebf0;
}

.logo {
    font-size: 24px;
    font-weight: 800;
}

.logo span {
    color: #2563eb;
}

nav {
    display: flex;
    gap: 32px;
}

nav a {
    text-decoration: none;
    color: #5d6678;
}

nav a:hover {
    color: #2563eb;
}

.nav-btn {
    padding: 12px 20px;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    text-decoration: none;
}

.hero {
    min-height: calc(100vh - 80px);
    padding: 70px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.hero-content {
    max-width: 600px;
}

.small-title {
    color: #2563eb;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
}

.hero h1 {
    font-size: 65px;
    line-height: 1.05;
    margin: 20px 0;
}

.hero h1 span {
    color: #2563eb;
}

.hero-text {
    color: #667085;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.primary-btn,
.secondary-btn {
    padding: 15px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

.primary-btn {
    background: #2563eb;
    color: white;
}

.secondary-btn {
    border: 1px solid #d5dae2;
    color: #172033;
}

.hero-image {
    width: 420px;
}

.image-card {
    height: 390px;
    border-radius: 30px;
    background: #2563eb;
    color: white;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.student-icon {
    text-align: center;
    font-size: 100px;
    margin-bottom: auto;
    margin-top: 60px;
}